/* Стили для макета товаров */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 380px; /* Ширина контейнера */
    margin: 0 auto; /* Центрирование по горизонтали */
    padding: 20px;
}

.product {
    width: calc(50% - 10px); /* Равномерное распределение по 2 столбца на ширине контейнера */
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
}

.product img {
    max-width: 100%;
    height: auto;
    display: block;
}

.product:hover {
    transform: scale(1.05); /* Увеличение при наведении */
}

/* Другие стили, если необходимо */
